:root {
  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);
  --gray: hsl(0, 0%, 59%);
  --very-dark-blue: hsl(209, 33%, 12%);
}
*,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  color: var(--very-dark-blue);
}

.wrapper {
  width: 88%;
  max-width: 650px;
  margin: 0 auto;
  padding: 5rem 0 2rem;
}

header {
  text-align: center;
  margin-bottom: 5rem;
}
.logo {
  width: 80px;
  margin-bottom: 2rem;
  cursor: pointer;
}
.title {
  font-weight: 600;
  font-size: 1.875rem;
  margin-bottom: 1rem;
}
.title span {
  font-weight: 300;
  color: var(--gray);
}
.subtitle {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
input {
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 2rem;
  outline: none;
  font-size: 1rem;
}
.email {
  border: 1px solid var(--pale-blue);
  color: var(--very-dark-blue);
  margin-bottom: 1.2rem;
  transition: 150ms ease-in-out 100ms;
}
.email::placeholder {
  color: var(--pale-blue);
}
.submit {
  color: #fff;
  border: 1px solid hsl(223, 100%, 60%);
  background-color: hsl(223, 100%, 60%);
  cursor: pointer;
}
.submit:hover {
  background-color: hsl(223, 100%, 70%);
  border-color: hsl(223, 100%, 70%);
}

.dashboard {
  width: 100%;
  margin-bottom: 8rem;
}
footer {
  text-align: center;
  color: var(--gray);
}
.links {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 0.5rem;
  border: 1px solid var(--pale-blue);
  color: hsl(223, 100%, 60%);
  transition: 250ms ease-in-out;
}
.icon:hover {
  color: #fff;
  background-color: hsl(223, 100%, 60%);
}

/* invalid cllass */
.invalid {
  position: relative;
}
.invalid .email {
  border-color: var(--light-red);
  margin-bottom: 3rem;
  transition-delay: 0;
}
form::after {
  content: "Please provide a valid email address";
  position: absolute;
  width: 100%;
  color: var(--light-red);
  font-style: italic;
  text-align: center;
  top: 3.675rem;
  font-size: 0.85rem;
  pointer-events: none;
  transition: 150ms ease-in-out;
  transition-delay: 0;
  opacity: 0;
}
.invalid::after {
  opacity: 1;
  transition-delay: 100ms;
}

@media screen and (max-width: 350px) {
  .title {
    font-size: 1.625rem;
  }
  input {
    padding: 0.825rem 1.825rem;
  }
  form::after {
    top: 3.375rem;
  }
}

@media screen and (min-width: 550px) {
  .title {
    font-size: 2rem;
  }
  form {
    flex-direction: row;
  }
  .email {
    margin-bottom: 0;
    margin-right: 1rem;
    min-width: 320px;
    max-width: 420px;
  }
  .submit {
    max-width: 200px;
  }
  .email,
  .submit {
    flex: 1;
  }
  form::after {
    text-align: left;
    padding-left: 2rem;
  }
  .invalid .email {
    margin-bottom: 0;
  }

  .email,
  .invalid .email,
  form::after,
  .invalid::after {
    /* transition-delay: 0; */
  }
}
